In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
ratings_movies_user = pd.read_csv('/Users/katerinacapouskova/Desktop/DSI-SF-4-katerinaC/Projects/Capstone/Movies/ml-latest/movies_ratings_user.csv')

### Take only movies that were rated more than 10 times:

In [3]:
ratings_movies_user.head()

,Unnamed: 0,userId,movieId,rating_x,ratings_count,ratings_mean,title,genres,COMEDY,DRAMA,...,FANTASY,FILM-NOIR,MUSICAL,SCI-FI,MYSTERY,WAR,Year,title_list,user_avg_rating,rating_mean_stand
0,0,1,122,2.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],2.666667,-0.666667
1,1,1,172,1.0,14078.0,2.742542,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1995.0,"['Johnny', 'Mnemonic']",2.666667,-1.666667
2,2,1,1221,5.0,34508.0,4.263098,"Godfather: Part II, The (1974)",Crime|Drama,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1974.0,"['Godfather:', 'Part', 'II,', 'The']",2.666667,2.333333
3,3,1,1441,4.0,6723.0,3.544102,Benny & Joon (1993),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1993.0,"['Benny', '&', 'Joon']",2.666667,1.333333
4,4,1,1961,3.0,29790.0,3.911195,Rain Man (1988),Drama,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1988.0,"['Rain', 'Man']",2.666667,0.333333

In [4]:
ratings_movies_user.shape

(22685691, 29)

In [3]:
movieId_sum = ratings_movies_user.groupby(['title'])['movieId'].count()

In [4]:
movieId_count = pd.DataFrame(movieId_sum)

In [5]:
movieId_count.reset_index()

                                                   title  movieId
0                       "Great Performances" Cats (1998)      211
1                             #1 Cheerleader Camp (2010)        6
2                                         #Horror (2015)        9
3      #chicagoGirl: The Social Network Takes on a Di...        3
4                                        $5 a Day (2008)       53
5              $50K and a Call Girl: A Love Story (2014)        2
6                                           $9.99 (2008)       65
7                                             '71 (2014)      193
8                'Hellboy': The Seeds of Creation (2004)      110
9                 'Master Harold'... and the Boys (1985)        2
10                       'Neath the Arizona Skies (1934)       24
11                                        'R Xmas (2001)       24
12                                'Round Midnight (1986)      207
13                                   'Salem's Lot (2004)      163
14                        'Til Madness Do Us Part (2013)        2
15                             'Til There Was You (1997)      557
16                       'Tis the Season for Love (2015)        9
17                                'Twas the Night (2001)        2
18               'Twas the Night Before Christmas (1974)       15
19                                    'burbs, The (1989)     3615
20                                  'night Mother (1986)      371
21                           (500) Days of Summer (2009)     9598
22                        *batteries not included (1987)     1914
23                                             +1 (2013)       39
24                             ...All the Marbles (1981)       59
25                               ...And God Spoke (1993)       56
26                         ...And Justice for All (1979)     1245
27                                         ...ing (2003)        3
28                     ...tick... tick... tick... (1970)        5
29                                            .45 (2006)       21
...                                                  ...      ...
27568                           a/k/a Tommy Chong (2005)       44
27569                       differently, Molussia (2012)        2
27570                                      eCupid (2011)        5
27571                                    eXistenZ (1999)     5976
27572                                    iMurders (2008)        3
27573                                      iSteve (2013)        9
27574      loudQUIETloud: A Film About the Pixies (2006)      111
27575                                    unINDIAN (2015)        2
27576                                         xXx (2002)     5591
27577                     xXx: State of the Union (2005)      986
27578                                   ¡Cuba Sí! (1961)        2
27579                                 ¡Qué hacer! (1970)        3
27580                              ¡Three Amigos! (1986)     7510
27581                       ¡Vivan las Antipodas! (2011)        2
27582                                À l'aventure (2008)       10
27583                                À nos amours (1983)       30
27584                            À propos de Nice (1930)       16
27585                                 Árido Movie (2005)        4
27586                                   Äkkilähtö (2016)        4
27587               Åsa-Nisse - Wälkom to Knohult (2011)        3
27588                                    Ó Paí, Ó (2007)        5
27589                                    Ödipussi (1988)        3
27590                                  Üvegtigris (2001)        5
27591                                İtirazım Var (2014)        7
27592                                       Мафия (2016)        3
27593             …And the Fifth Horseman Is Fear (1965)        2
27594                                        キサラギ (2007)        2
27595                      ドラゴンボール Ｚ あつまれ！ 悟空ワールド (1992)        5
27596                                        貞子3D (2012)        5
27597                                        줄탁동시 (2012)        2

[27598 rows x 2 columns]

In [24]:
movieId_count.shape

(27598, 1)

In [6]:
movieId_count = movieId_count[movieId_count.movieId >= 10].reset_index()

In [7]:
movieId_count.shape

(16098, 2)

In [11]:
27598 - 16098

11500

#### 11 500 movies were rated less than 10 times.

In [12]:
movieId_count.head()

                                     title  movieId
0         "Great Performances" Cats (1998)      211
1                          $5 a Day (2008)       53
2                             $9.99 (2008)       65
3                               '71 (2014)      193
4  'Hellboy': The Seeds of Creation (2004)      110

In [7]:
movieId_count['movieId_count'] = movieId_count['movieId']
del movieId_count['movieId']

In [8]:
ratings_movies_user = ratings_movies_user.merge(movieId_count, how='right', left_on='title', right_on='title')

In [10]:
ratings_movies_user.shape

(22638988, 30)

In [16]:
22685691 - 22638988

46703

In [17]:
ratings_movies_user.head()

,Unnamed: 0,userId,movieId,rating_x,ratings_count,ratings_mean,title,genres,COMEDY,DRAMA,...,FILM-NOIR,MUSICAL,SCI-FI,MYSTERY,WAR,Year,title_list,user_avg_rating,rating_mean_stand,movieId_count
0,0,1,122,2.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],2.666667,-0.666667,4060
1,3127,45,122,1.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],2.448630,-1.448630,4060
2,7598,103,122,3.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],3.431373,-0.431373,4060
3,9679,135,122,3.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],3.491667,-0.491667,4060
4,12366,159,122,4.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],3.559420,0.440580,4060

#### New dataframe without 46 703 rows for movies that were rated less than 10 times.

### Make a new dataframe to have only the higest rated and lowest rated movies for each user:

In [18]:
user_high = ratings_movies_user.groupby(['userId'])['rating_mean_stand'].max()

In [19]:
user_high = pd.DataFrame(user_high)

In [20]:
user_low =  ratings_movies_user.groupby(['userId'])['rating_mean_stand'].min()

In [21]:
user_low = pd.DataFrame(user_low)

In [22]:
user_high.head()

        rating_mean_stand
userId
1                2.333333
2                1.400000
3                1.655738
4                0.000000
5                1.074074

In [23]:
user_low.head()

        rating_mean_stand
userId
1               -1.666667
2               -1.600000
3               -2.344262
4                0.000000
5               -2.925926

In [9]:
tags = pd.read_csv('/Users/katerinacapouskova/Desktop/DSI-SF-4-katerinaC/Projects/Capstone/Movies/ml-latest/tags.csv')

In [19]:
tags.head()

   userId  movieId             tag   timestamp
0      28    63062  angelina jolie  1263047558
1      40     4973          Poetic  1436439070
2      40   117533         privacy  1436439140
3      57      356   life positive  1291771526
4      73    81591   psychological  1296948434

### Merge with the tags dataframe to have movies meta-data:

#### See how many movies have a tag there

In [25]:
len(tags.movieId.unique())

23743

In [28]:
ratings_movies_user.head(2)

,Unnamed: 0,userId,movieId,rating_x,ratings_count,ratings_mean,title,genres,COMEDY,DRAMA,...,FILM-NOIR,MUSICAL,SCI-FI,MYSTERY,WAR,Year,title_list,user_avg_rating,rating_mean_stand,movieId_count
0,0,1,122,2.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],2.666667,-0.666667,4060
1,3127,45,122,1.0,4060.0,2.862931,Boomerang (1992),Comedy|Romance,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1992.0,['Boomerang'],2.448630,-1.448630,4060

#### Get rid of some columns to make smaller:

In [10]:
df = ratings_movies_user.drop(['Unnamed: 0', 'ratings_count', 'COMEDY', 'DRAMA', 'CRIME', 'FANTASY', 'FILM-NOIR', 
        'MUSICAL', 'SCI-FI', 'MYSTERY', 'WAR', 'Year', 'title_list', 'movieId_count',
                         'THRILLER', 'WESTERN', 'ROMANCE', 'ADVENTURE', 'ANIMATION',
        'CHILDRENS', 'DOCUMENTARY', 'HORROR'], axis=1)

In [11]:
df.shape

(22638988, 8)

In [12]:
df.to_csv('movies_ratings_user_stripped.csv')